html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
background:#92C7C7;
margin: auto;
text-align: center;

}
h1{
  font-size: 67px;
}
.music{


}
#largeImage{
max-height: 40em;
max-width:30em;
}
.album{
  cursor: pointer;
}
